@import url(https://db.onlinewebfonts.com/c/45c8a032ab75bf3a44c61ce1b0ab0d9a?family=Canela-ThinItalic);

@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
